<%-include('../partials/nav') %>

  <div class="container">
    <h2>🎉 Congratulations!</h2>
    <div class="message">Your home has been successfully added.</div>
    <a href="/">Back to Home</a>
  </div>
</body>
</html>
